$primary-color : #0092d2;
$primary-hover : #01638d;
$secondary-color : #ffab0f;

* {
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    overflow: hidden;

    .box {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        z-index: 1;
        transition: width 1s cubic-bezier(.62, -0.02, .49, 1.01);

        * {
            transition: all 1s;
        }

        input[type=radio] {
            display: none
        }

        .arrow {
            display: inline-block;
            width: 20px;
            height: 20px;
            border-top: 3px solid $secondary-color ;
            border-right: 3px solid $secondary-color;
            position: absolute;
            top: 50%;
            z-index: 999;
            cursor: pointer;

            &:hover {
                border-color: #ddd;
            }
        }

        .form-card {
            margin-top: 1rem;
            padding: 10px 20px;
            border-radius: 0.5rem;
            width: 350px;
            max-height: 100%;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            background-color: white;

            .header {
                display: flex;
                border-bottom: 1px solid rgba(#000, .2);
                padding: 10px 0px;
                width: 100%;

                h3 {
                    color: rgba(#000, 0.7);
                }
            }

            .body {
                display: flex;
                gap: 0.5rem;
                flex-direction: column;
                width: 100%;

                input:not([type="radio"]) {
                    padding: 10px;
                    outline: 0;
                    border-radius: .25rem;
                    background-color: rgba(#ddd, .8);

                    &::placeholder {
                        opacity: 1;
                    }
                }
            }

            .footer {
                display: flex;
                flex-direction: column;
                width: 100%;
                justify-content: space-between;
                gap: 1rem;
                flex-wrap: wrap;

                button[type="submit"] {
                    padding: 10px 20px;
                    background: $primary-color;
                    color: white;
                    font-weight: 500;
                    border-radius: 1rem;
                    cursor: pointer;

                    &:hover {
                        background: $primary-hover
                    }
                }

                span {
                    display: flex;
                    align-items: center;
                    gap: 0.2rem;
                    justify-content: center;

                    .link {
                        text-decoration: underline;
                        cursor: pointer;
                        font-weight: 500;
                        color: $primary-color;

                        &:hover {
                            color: $primary-hover;
                        }

                        &:focus-visible {
                            outline: none;
                        }
                    }
                }
            }
        }

        &.login {
            background: url("./assets/login-page.avif");
            background-repeat: no-repeat;
            background-size: cover;

            .arrow {
                transform: rotate(-135deg);
                right: 20px;
            }
        }

        &.register {
            background: url("./assets/register-page.avif");
            background-repeat: no-repeat;
            background-size: cover;

            .arrow {
                transform: rotate(45deg);
                left: 20px;
            }
        }
    }

    &:has(:checked) .box:has(:checked) {
        width: 90%;

        .arrow {
            opacity: 0;
        }
    }

    &:has(:checked) .box:not(:has(:checked)) {
        width: 10%;

        .form-card {
            transform: scale(0);
            transition-duration: 1.5s;
        }

        :not(.arrow) {
            opacity: 0;
        }

        .arrow {
            rotate: 180deg;
        }

    }
}

@media screen and (max-width: 768px) {

    .container {
        flex-direction: column;
        height: 100vh;
        width: 100vw;

        .box {
            width: 100%;
            height: 50%;
            transition: height 1s cubic-bezier(.62, -0.02, .49, 1.01);

            .arrow {
                display: none
            }
        }

        &:has(:checked) .box:has(:checked) {
            width: 100%;
            height: 100%;

            .arrow {
                opacity: 0;
            }
        }
        
        &:has(:checked) .box:not(:has(:checked)) {
            height: 0%;
            width: 100%;

            :not(.arrow) {
                opacity: 0;
            }

            .arrow {
                rotate: 90deg;
            }
        }
    }

}